/* Гибкая компоновка для родительской обертки */
.parent-wrapper {
  display: flex;
  justify-content: space-between; /* Равномерное распределение дочерних элементов */
}

/* Стилизация обертки товаров */
.stock-wrapper {
  border: 1px solid #ccc; /* Добавление границы для визуального отделения */
  padding: 10px; /* Добавление отступов для размещения */
}

/* Стилизация каждого товара на складе */
.product {
  border: 1px solid #eee; /* Добавление границы для каждого товара */
  padding: 10px; /* Добавление отступов для размещения */
  margin-bottom: 10px; /* Добавление отступа для разделения каждого товара */
}

/* Стилизация кнопок внутри продукта */
.product button {
  background-color: #007bff; /* Цвет фона кнопок */
  color: #fff; /* Цвет текста кнопок */
  border: none; /* Удаление границ у кнопок */
  padding: 5px 10px; /* Отступы внутри кнопок */
  cursor: pointer; /* Установка курсора на кнопках */
  margin-right: 5px; /* Отступ между кнопками */
}

/* Изменение стиля при наведении на кнопки */
.product button:hover {
  background-color: #0056b3; /* Изменение цвета фона при наведении */
}

/* Стилизация обертки корзины */
.cart-wrapper {
  flex-basis: 30%; /* Установка конкретной ширины обертки корзины */
  border: 1px solid #ccc; /* Добавление границы для визуального отделения */
  padding: 10px; /* Добавление отступов для размещения */
}

/* Стилизация элементов корзины */
.cart-item {
  margin-bottom: 5px; /* Добавление отступа для разделения каждого элемента корзины */
}

/* Стилизация общей суммы */
.total-price {
  margin-top: 10px; /* Добавление отступа для разделения от элементов корзины */
  font-weight: bold; /* Установка жирного шрифта для текста общей суммы */
  font-size: 18px; /* Увеличение размера шрифта для общей суммы */
}

/* Установка выравнивания для элементов корзины */
.cart-item {
  display: flex; /* Гибкая компоновка элементов корзины */
  justify-content: space-between; /* Равномерное распределение элементов */
}

/* Стилизация заголовка корзины */
.cart-wrapper h1 {
  font-size: 20px; /* Увеличение размера текста заголовка */
  margin-bottom: 10px; /* Отступ под заголовком */
}

/* Стилизация заголовка товара */
.product h2 {
  margin-bottom: 5px; /* Отступ под заголовком */
}

/* Стилизация цен внутри продукта */
.product span {
  margin-right: 5px; /* Отступ между элементами */
}

/* Стилизация описания продукта */
.product p {
  margin-bottom: 5px; /* Отступ под текстом товара */
}
