<div class="wrapper">
  <button [class.active]="isBoldActive" (click)="toggleStyle('bold')">B</button>
  <button [class.active]="isItalicActive" (click)="toggleStyle('italic')">I</button>
  <button [class.active]="isUnderlineActive" (click)="toggleStyle('underline')">U</button>
  <button [class.active]="isCapitalizeActive" (click)="toggleStyle('capitalize')">Tt</button>

  <select [(ngModel)]="fontSize">
    <option value="12">12px</option>
    <option value="14">14px</option>
    <option value="16">16px</option>
    <option value="18">18px</option>
    <option value="20">20px</option>
  </select>

  <select [(ngModel)]="fontFamily">
    <option value="Arial">Arial</option>
    <option value="Verdana">Verdana</option>
    <option value="Tahoma">Tahoma</option>
    <option value="Times New Roman">Times New Roman</option>
    <option value="Courier New">Courier New</option>
  </select>

  <div class="color">
    <input type="color" [(ngModel)]="fontColor">
  </div>

</div>

<textarea [(ngModel)]="text" [style.font-weight]="isBoldActive ? 'bold' : 'normal'"
  [style.font-style]="isItalicActive ? 'italic' : 'normal'"
  [style.text-decoration]="isUnderlineActive ? 'underline' : 'none'"
  [style.text-transform]="isCapitalizeActive ? 'uppercase' : 'none'" [style.font-size.px]="fontSize"
  [style.font-family]="fontFamily" [style.color]="fontColor">
</textarea>