<div class="container">
  <div class="row">
    <h2>Lorem, ipsum.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae odio excepturi nemo provident. Blanditiis
      ea reprehenderit sed sit eaque.</p>
  </div>
  <div class="row">
    <h2>Lorem, ipsum.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nobis vel atque ea cumque sit dolorum sint eos
      harum iure.</p>
  </div>
  <div class="row">
    <h2>Lorem, ipsum.</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id voluptatem eaque sunt, soluta praesentium voluptas
      voluptates exercitationem suscipit labore ipsa!</p>
  </div>
  <div class="row">
    <h2>Lorem, ipsum.</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas veritatis incidunt odio sed aperiam repellat
      ipsa temporibus saepe voluptatem blanditiis?</p>
  </div>
  <div class="row">
    <h2>Lorem, ipsum.</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae neque saepe fugiat iure debitis? Aperiam ratione
      modi nesciunt cupiditate sit?</p>
  </div>
</div>